<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <!-- Displays a success message for the completed order -->
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
        <!-- Displays a countdown timer for redirecting the user -->
        <p>Redirecting in <span id="countdown">3</span> seconds...</p>
    </div>
</div>

@section Scripts {
    <script>
        // Initialize the countdown timer with 3 seconds
        let timeLeft = 3;
        const countdownElement = document.getElementById('countdown'); // Get the countdown element
        
        // Set the initial countdown value
        countdownElement.textContent = timeLeft;
        
        // Start the countdown timer
        const countdown = setInterval(function() {
            timeLeft--; // Decrease the time left by 1
            countdownElement.textContent = timeLeft; // Update the countdown display
            
            // When the countdown reaches 0, stop the timer and redirect the user
            if (timeLeft <= 0) {
                clearInterval(countdown); // Stop the countdown timer
                window.location.href = '@Url.Action("ShoppingCart", "Orders")'; // Redirect to the ShoppingCart action in the Orders controller
            }
        }, 1000); // Execute the function every 1000 milliseconds (1 second)
    </script>
}